div.card {
  margin: auto;
}

div.card:hover {
    transform: scale(1.1);
}

.opacized {
    opacity: 0.5;
}

img.card-img-top {
    cursor: pointer;
}

/* div.card.text-center {
    min-height: 85vh;
} 

@media screen and (min-width:769px) and (max-width: 992px){
    img.card-img-top {
        max-height: 70vh;
    }
} */
