<div *ngIf="film_details" class="main-card card text-center">
  <div class="card-header">
    {{film_details.genres}}
  </div>
  <img src="{{film_details.image}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{film_details.title}}</h5>
    <p class="card-text">{{film_details.plot}}</p>
    <p id="buttons_container" class="text-center">
      <a class="btn btn-primary" (click)="primaTendina()" data-bs-toggle="collapse" href="#cast-details" role="button" aria-expanded="false" aria-controls="cast-details">
        Cast <i *ngIf="primaTendinaChiusa" class="bi bi-plus-circle"></i><i *ngIf="primaTendinaAperta" class="bi bi-dash-circle"></i>
      </a>
      <a *ngIf="trailer_URL" (click)="secondaTendina()" class="btn btn-primary" data-bs-toggle="collapse" href="#trailer-view" role="button" aria-expanded="false" aria-controls="trailer-view">
        Trailer <i *ngIf="secondaTendinaChiusa" class="bi bi-plus-circle"></i><i *ngIf="secondaTendinaAperta" class="bi bi-dash-circle"></i>
      </a>
    </p>
    <div class="collapse" id="cast-details">
      <div class="card card-body">
        <ul class="list-unstyled">
          <li class="my-3" *ngFor="let a of film_details.actorList">{{a.name}} nel ruolo di {{a.asCharacter}}</li>
        </ul>
      </div>
    </div>
    <div class="collapse" id="trailer-view">
      <iframe [src]='videoURL()' frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="card-footer text-muted">
      Un film di {{film_details.directors}}
    </div>
  </div>
</div>

<h3 class="mb-4 text-white">Contenuti simili</h3>

<div *ngIf="film_details" class="related-cards">
  <div *ngFor="let s of film_details.similars" class="related-card card text-center h-100">
    <img src="{{s.image}}" class="card-img-top">
    <div class="card-body normalize-height">
      <h6>{{s.title}}</h6>
    </div>
  </div>
</div>