<h1 class="text-center text-white mb-2">Film in evidenza</h1>

<div *ngIf="loading" id="spinner-box" class="text-center">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<form class="d-flex" role="search">
  <input [(ngModel)]="searchKey" name="search" class="form-control me-2" type="search" placeholder="Cerca" aria-label="Search">
  <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
</form>

<div class="text-center text-white mt-5" *ngIf="noResultsFound">
  <h5>Nessun risultato corrispondente ai parametri di ricerca.</h5>
</div>

<div #corpo id="myBox" (window:scroll)="onWindowScroll()">

  <app-film-preview *ngFor="let film of toShowFilms  | ricerca:searchKey!" [film]="film">
  </app-film-preview>
  
</div>
