form > .form-control {
    width: 300px;
}

form {
    position: absolute;
    right: 2%;
}

#myBox {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2%;
    grid-row-gap: 100px;
}

#myBox > div.card {
  margin: auto;
}

#myBox img.card-img-top {
    cursor: pointer;
    height: 60vh;
}

#myBox > div:hover {
    transform: scale(1.1);
}

.opacized {
    opacity: 0.5;
}

.normalize-height {
    min-height: 100px;
}

@media screen and (max-width:1400px) {
    #myBox {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:992px) {
    #myBox {
        grid-template-columns: 1fr 1fr;
    }
    form > .form-control {
        width: 200px;
    }
}

@media screen and (max-width:768px) {
    #myBox {
        grid-template-columns: 1fr;
    }
    form > .form-control {
        width: 150px;
    }
}