<h1 class="text-center mb-5 text-white">Film in evidenza</h1>

<div id="myBox">

  <div *ngFor="let film of films" class="card text-center" >
    <a routerLink = "/film-detail/{{film.id}}"><img src="{{film.image}}" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)"></a>
    <div class="card-body normalize-height">
      <h5 class="card-title">{{film.fullTitle}}</h5>
    </div>
  </div>

  <!-- <div class="card text-center" >
    <a [routerLink]="['/film-detail/1']"><img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)"></a>
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <a [routerLink]="['/film-detail/2']"><img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)"></a>
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <a [routerLink]="['/film-detail/3']"><img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)"></a>
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div>
  <div class="card text-center" >
    <img src="../../assets/img/dummy.jpg" class="card-img-top" (mouseenter)="onImg($event)" (mouseleave)="outImg($event)">
    <div class="card-body normalize-height">
      <h5 class="card-title">Titolo</h5>
    </div>
  </div> -->
  
</div>