span {
    text-align: left;
    color: red;
    position: absolute;
    clear: left;
    display: inline-block;
}

form input.form-control {
    position: relative;
}

input#condizioni {
    margin-right: 7px;
}